#delegation{
	 color:#2E2E2E;
	 background:#D8D8D8;
	 float:right;
	 padding : 3px;
	 border:dotted;
	 border-width: thin;
}

div.nomAttr1 {
    float: left;
    font-weight: bolder;
    padding: 1px;
    text-align: left;
}

div.contenu1 {
    border: medium solid rgb(215, 227, 242);
    float: left;
    padding: 2px;
    widht:100%;
}


div.colonneGauche {
    float: left;
    width: 50%;
}
div.colonneDroite {
    float: left;
    width: 50%;
}

.itemAJOUTER {
    background-color: #BCF5A9;
    padding: 2px;
}

.itemSUPPRIMER {
    background-color: #F5A9A9;
    padding: 2px;
}

div .espace{
	height : 20px;
}
