//
// Workspace member management
// --------------------------------------------------


@screen-sm-min: 768px;
@screen-xs-max: (@screen-sm-min - 1);


// Select2 result
.workspace-member-result {
    @avatar-size: 36px;
    @icon-size: 24px;
    
    .media {
        overflow: hidden;
        
        .media-left {
            .media-object {
                width: @avatar-size;
                
                img {
                    max-height: @avatar-size;
                    max-width: 100%;
                }
                
                i {
                    width: @icon-size;
                    font-size: @icon-size;
                }
            }
        }
    }

    @media screen and (max-width: @screen-xs-max) {
        .table & {
            margin-bottom: 5px;
        }
    }
}


// Select2 selection
.workspace-member-selection {
    @avatar-size: 20px;
    
    img {
        height: @avatar-size;
        margin-right: 3px;
        vertical-align: top;
    }
}


.workspace-member-management {
    fieldset[disabled] {
        opacity: 0.3;
    }
}
