div .libelleCWKS {
	width: 90%;
	float: left;
	color:#88ABBC;
	font-weight: bold;
}

div .infoEnLigneCWKS {
	float: left;
	color: black;
	width:90%;
}

div .infoEnLigneCWKS input {
	width:90%;
	margin: 5px;
}

div .infoEnLigneCWKS textarea {
width:90%;
padding-left : 5px;
margin:5px;
}

div .espace{
	height : 20px;
}

.itemAJOUTER {
    background-color: #BCF5A9;
    padding: 2px;
}

.itemSUPPRIMER {
    background-color: #F5A9A9;
    padding: 2px;
}

div.colonneGauche {
    float: left;
    width: 50%;
}
div.colonneDroite {
    float: left;
    width: 50%;
}


div.modifOK {
    color:white;
    font-weight: bold;
    background-color: #329D27;
    
}

div.ligne-titreWks {
	clear:both;
	display:inline-block;
   	width: 98%;
   	margin : 2px;	
   	color: black;
   	max-width:900px;
   	background-color:#D7E3F2;
}

div.ligne-gestionRole {
	background-color:#D7E3F2;
}

div.ligne-gestionRole a{
	font-size: 14px;
	color: black;
	font-weight: bold;
	
}

div.titre_portletWks {
	padding-bottom: 15px;
	color: #000000;
	
}
	
	
	
